<<<<<<< Updated upstream:assets/css/faq-manager.css
button{
    background-color: aqua;
    margin-top: 30px;
    padding: 10px;
    width:120px;
    margin-left:700px;
    border-radius: 10px;
}

=======
@import 'header.css';
@import 'footer.css';
>>>>>>> Stashed changes:src/css/faq-manager.css
button:hover
{
    background-color: red;
}

table
{
    width:500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: bisque;
}

<<<<<<< Updated upstream:assets/css/faq-manager.css
=======
td a
{
    text-align: none;
}

>>>>>>> Stashed changes:src/css/faq-manager.css

