#about .background {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#about .background h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#about .background p {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 10px;
}

#about .container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#about .container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
