@import "styles.css";
@import 'header.css';
@import 'footer.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

.table-container {
    height:100%;
    width: 99%;
    background-color:LightGray;
}

.data-table {
    width: 98%;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.data-table th, td {
    border: 1px solid #000000;
}

button {
    width: 150px;
    height: 20px;
    left: 1000px;
    top: 90px;
}