.header {
    font-size: 50px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    position: fixed;
    background-color: rgb(152, 147, 147);
    left: 0;
    top: 0;
    width: 100%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    display: inline;
    float: left;
    height: 100px;
    width: 100px;
}

.navbar {
    display: inline;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline-block;
    margin: 80px 10px 0 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #ccc;
    padding: 0;
    border: none;
}

.navbar ul li a.active {
    background-color: #ff0000;
    color: #fff;
}

.login {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 60px;
    width: 60px;
}

.search {
    float: none;
    display: inline-end;
    text-align: left;
    margin: 0;
    padding: 6px;
}
