@import url('./footer.css');
@import url('./header.css');

body {
   margin-top: 120px;
   background-color: LightGray;
   font-family: Arial, sans-serif;
}

 table,th, td {
   border: 1px solid black;  
   border-collapse: center;
   text-align: center;
   width: 50%;
   height:10px;
}
	 
h2{
	 color: black;
	 text-align: center;
	 
}     
