*{
    background-color:rgb(175, 211, 226); 
 }
  .he{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
div
{
text-align:center;
  font-size: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 30px; 
}

.one
{
background-color:rgb(175, 211, 226);
font-size:x-large;
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 50px;
  width: 1300px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
.one img{

width: 200px;
height: 200px;
border-radius: 50%;

}
.h２{
text-align: center;
}
.two
{
align-items: center;
background-color:rgb(175, 211, 226);
font-size: x-large;
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 50px;
  width: 1300px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);

}
.two img{
width: 200px;
height: 200px;
border-radius: 70%;
}
.three
{
background-color: rgb(175, 211, 226);
  font-size:x-large;  
 padding: 50px;
  margin-bottom: 20px;
  border-radius: 50px;
  width: 1300px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
.three img{
width: 200px;
height: 200px;
border-radius: 50%;
}